<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
	<div class="w-75 ">
		<h2 class="fw-bold fs-3 text-gray py-2">Forgot Password</h2>
		<p class="text-gray fw-semibold">Enter the email address associated with your account and we will send you a
			link to reset your password</p>
		<form class="d-flex flex-column gap-2" [class.was-validated]="isSubmitted" novalidate>
			<div class="form-floating">
				<input type="email" name="email" id="email" class="form-control form-control-sm" placeholder="Email"
					[(ngModel)]="email" required>
				<label for="email">Email</label>
				<div class="invalid-feedback">{{emailErrorMessage}}</div>
				<div class="valid-feedback">{{emailSuccessMessage}}</div>
			</div>

			<button class="btn btn-block button-bg w-100" (click)="onSubmit()">Submit</button>
		</form>
		<div class="d-flex align-items-center justify-content-center mt-5">
			<a routerLink='/' class="fw-semibold btn btn-link" >Back to Sign
				In</a>

		</div>
	</div>
</div>