<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
	<div class="w-75 ">
		<h2 class="fw-bold fs-3 text-gray py-2">Forgot Password</h2>
		<p class="text-secondary">Enter the email address associated with your account and we will send you a
			link to reset your password</p>
		<form class="d-flex flex-column gap-2" [class.was-validated]="isSubmitted" novalidate
			#forgotPasswordForm="ngForm">
			<div class="form-floating form-group">
				<input type="email" name="email" id="email" class="form-control form-control-sm" placeholder="Email"
					[(ngModel)]="email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
					#emailInput="ngModel">
				<label for="email"><fa-icon [icon]="faEnvelopeSquare"></fa-icon> Email</label>
				<div class="alert alert-danger" *ngIf="emailInput.invalid && emailInput.touched">
					<div *ngIf="emailInput.hasError('required')">Email is required.</div>
					<div *ngIf="emailInput.hasError('pattern')">Invalid email format.</div>
				</div>
			</div>

			<div *ngIf="isServerError" class="alert alert-danger">{{serverError}}</div>

			<button class="btn btn-block button-bg w-100" (click)="onSubmit()"
				[disabled]="!forgotPasswordForm.form.valid">Submit</button>
		</form>
		<div *ngIf="!isServerError && isSubmitted" class="alert alert-info">{{checkMail}}</div>
		<div class="d-flex align-items-center justify-content-center mt-5">
			<a routerLink='/' class="fw-semibold btn btn-link">Back to Sign
				In</a>

		</div>
	</div>
</div>