<div class="container d-flex justify-content-center align-items-center vh-100">
	<div class="w-75 ">
		<h2 class="fw-bold fs-3 text-gray py-2">Reset your password</h2>
		<p class="fw-semibold light-gray">Enter a new password for your account. This is the password you will use next
			time you are signing in</p>
		<form class="d-flex flex-column gap-2" [class.was-validated]="isSubmitted" novalidate
			#resetPasswordForm="ngForm">

			<div class="form-floating">
				<input type="password" name="password" id="password" class="form-control form-control-sm"
					[(ngModel)]="password" placeholder="Password" required
					pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}" required
					#passwordInput="ngModel">
				<label for="password"> <fa-icon [icon]="faEyeSlash"></fa-icon> Password</label>
				<div class="alert alert-danger" *ngIf="passwordInput.invalid && (passwordInput.touched)">
					<div *ngIf="passwordInput.hasError('required')">Password is required.</div>
					<div *ngIf="passwordInput.hasError('pattern')">Password must contain at least 8 characters,
						including one uppercase letter, one lowercase letter, one digit, and one
						special character.</div>
				</div>
			</div>

			<div class="form-floating">
				<input type="password" name="confirmPassword" id="confirmPassword" class="form-control form-control-sm"
					[(ngModel)]="confirmPassword" placeholder="Confirm Password" required #confirmPasswordInput="ngModel">
				<label for="confirmPassword"><fa-icon [icon]="faEyeSlash"></fa-icon> Confirm Password</label>
				<div class="alert alert-danger" *ngIf="confirmPasswordInput.invalid && confirmPasswordInput.touched">
					<div *ngIf="confirmPasswordInput.hasError('required')">Confirm Password is required.</div>
					<div *ngIf="password !== confirmPassword">Passwords do not match.</div>
				</div>
			</div>

			<div *ngIf="isServerError" class="alert alert-danger">{{serverError}}</div>

			<button class="btn btn-block button-bg w-100" (click)="onSubmit()"
				[disabled]="!resetPasswordForm.form.valid">Submit</button>
		</form>
		<div class="d-flex align-items-center justify-content-center mt-5">
			<a routerLink="/" class="fw-semibold btn btn-link">Back to Sign
				In</a>

		</div>
	</div>

</div>