<div class="container d-flex justify-content-center align-items-center vh-100">
	<div class="w-75 ">
		<h2 class="fw-bold fs-3 text-gray py-2">Sign in to your account</h2>
		<form class="d-flex flex-column gap-2" [class.was-validated]="isSubmitted" novalidate>
			<div class="form-floating">
				<input type="email" name="email" id="email" class="form-control form-control-sm" placeholder="Email"
					[(ngModel)]="email" required>
				<label for="email"><fa-icon [icon]="faEnvelopeSquare"></fa-icon> Email</label>
				<div class="invalid-feedback">{{emailErrorMessage}}</div>
				<div class="valid-feedback">{{emailSuccessMessage}}</div>
			</div>

			<div class="form-floating">
				<input type="password" name="password" id="password" class="form-control form-control-sm"
					[(ngModel)]="password" placeholder="Password" required>
				<label for="password"><fa-icon [icon]="faEyeSlash"></fa-icon> Password</label>
				<div class="invalid-feedback">{{passwordErrorMessage}}</div>
				<div class="valid-feedback">{{passwordSuccessMessage}}</div>
			</div>

			<a routerLink="forgot-password" class="ms-auto text-orange fw-semibold">Forgot password?</a>

			<button class="btn btn-block button-bg w-100" (click)="onSubmit()">Submit</button>
		</form>
		<div class="mt-5">
			<p class="text-center">Or sign in with</p>
			<button
				class="btn btn-lg btn-outline-dark fw-bold w-100 d-flex justify-content-center align-items-center gap-3"><img
					src="../../../assets/icons8-google-48.png" alt="Google Icon">Google</button>
		</div>
		<div class="d-flex align-items-center justify-content-center mt-5">
			<p class="text-center mt-3 text-gray">Don't have an account? </p><a routerLink="/signup"
				class="fw-semibold btn btn-link">Sign
				Up</a>
		</div>

	</div>

</div>